:root {
  /* Основные цвета */
  --supheader-bg: #f0eedd;
  --supheader-text: #670a18;
  --main-text: #35312e;
  --cart-el-bg: #c87b5e;
  --light-color: #f5f1e9;
  --hero-btn-bg: #d37657;
  --second-light-color: #fcfaf6;
  --grey-text: #4f463f;
  --design-block-bg: #fbf6ea;
  --design-block-mark: #e09d81;
  --design-block-text: #6e6259;
  --item-card-img: #f7f3eb;
  --item-card-text: #6e635a;
  --footer-bg: #6c674d;
  --footer-input-text: #00000080;
  --footer-nav-text: #f5f1e999;
  --subfooter-bg: #807c62;
  --subfooter-text: #fcfaf680;

  --main-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-text);
  font-stretch: 100%;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
  border: none;
  background: none;
}

.supheader {
  background-color: var(--supheader-bg);
  color: var(--supheader-text);
  text-align: center;
  padding: 9px 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.header {
  padding: 25px 48px;
  background: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.cart__wrapper {
  margin-left: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cart-el-bg);
  color: var(--light-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 170px 383px;
  background: url("./img/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

.hero__content {
  max-width: 248px;
  font-family: Roboto;
}

.hero__suptitle {
  margin-bottom: 9px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 57px;
  font-weight: 400;
  font-size: clamp(32px, 4vw + 16px, 50px);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  line-height: 1;
}

.hero__line-2 {
  position: relative;
  align-self: flex-start;
}

.hero__line-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-text);
}

.hero__btn {
  width: 100%;
  padding: 19px 30px 20px;
  background-color: var(--hero-btn-bg);
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
}

.press {
  padding: 45px 0;
  background-color: var(--light-color);
}

.press__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  max-width: 630px;
  margin: 0 auto 40px;
}

.press__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 80px;
}

.welcome {
  padding: 121px 5% 112px;
  background: var(--second-light-color);
}

.welcome__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 135px;
}

.welcome__title {
  max-width: 400px;
  font-weight: 700;
  font-size: clamp(28px, 3vw + 12px, 41px);
  line-height: 1.13;
  letter-spacing: 1.25px;
  text-align: center;
}

.welcome__text {
  max-width: 650px;
  line-height: 1.62;
  color: var(--grey-text);
}

.design {
  padding: 70px 0 140px;
  background-color: var(--design-block-bg);
}

.design__title {
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 53px;
}

.design__colors {
  margin-bottom: 45px;
}

.design__colors ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.design__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.design__color:nth-of-type(1) {
  background-color: var(--design-block-mark);
}

.design__color:nth-of-type(2) {
  background-color: #748ea1;
}

.design__color:nth-of-type(3) {
  background-color: #b76d47;
}

.design__color:nth-of-type(4) {
  background-color: #7d836e;
}

.design__color:nth-of-type(5) {
  background-color: #c33636;
}

.design__color:nth-of-type(6) {
  background-color: #cdc7b3;
}

.design__color:nth-of-type(7) {
  background-color: #595752;
}

.design__color:nth-of-type(8) {
  background-color: #d3c2ca;
}

.design__color.active {
  border: 3px solid var(--design-block-mark);
}

.design__diagram {
  position: relative;
  max-width: 562px;
  margin: 0 auto;
  transform: translateX(13%);
}

.design__diagram__img {
  display: block;
  width: 100%;
  height: auto;
}

.design__diagram__tip {
  position: absolute;
}

.diagram__tip__lid {
  top: 83px;
  left: -144px;
  min-width: 135px;
}

.diagram__tip__lid .diagram__tip__mark {
  top: 16px;
  right: -52px;
  z-index: -1;
}

.diagram__tip__spatula {
  min-width: 158px;
  top: 36px;
  right: 26px;
}

.diagram__tip__spatula .diagram__tip__mark {
  left: 45%;
  /* bottom: -56px; */
  top: calc(100% + 70px);
}

.diagram__tip__spouts {
  min-width: 107px;
  left: -64px;
  /* bottom: 165px; */
  top: 357px;
}

.diagram__tip__spouts .diagram__tip__mark {
  right: -59px;
  top: calc(100% + 39px);
}

.diagram__tip__colander {
  min-width: 171px;
  top: 284px;
  right: 21px;
}

.diagram__tip__colander .diagram__tip__mark {
  left: -39px;
  top: 7px;
  z-index: -1;
}

.diagram__tip__nonstick {
  min-width: 172px;
  left: -144px;
  top: 472px;
}

.diagram__tip__nonstick .diagram__tip__mark {
  top: 47px;
  right: -91px;
}

.diagram__tip__handle {
  min-width: 160px;
  top: 443px;
  right: -15px;
  /* background: red; */
  /* height: 15.48px; */
}

.diagram__tip__handle .diagram__tip__mark {
  top: -32px;
  left: 34px;
  z-index: -1;
}

.diagram__tip__mark {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--design-block-mark);
}

.diagram__tip-text {
  position: absolute;
  font-size: 12px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: var(--design-block-text);

  width: 100%;
}

.catalog {
  background-color: var(--second-light-color);
  padding: 74px 0 105px;
}

.catalog__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.67;
  letter-spacing: 1.2px;
  text-align: center;
  max-width: 477px;
  margin: 0 auto 18px;
}

.catalog__text {
  font-size: 18px;
  line-height: 1.61;
  text-align: center;
  color: var(--grey-text);
  max-width: 441px;
  margin: 0 auto 75px;
}

.catalog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.catalog__card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.catalog__card__img {
  position: relative;
  width: 286px;
  height: 229px;
  background-color: var(--item-card-img);
  border-radius: 50%;
  margin-bottom: 15px;
}

.catalog__card__img img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.catalog__card__title {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.catalog__card__price {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--item-card-text);
  margin-bottom: 6px;
}

.catalog__card__desc {
  font-size: 11px;
  line-height: 1.78;
  letter-spacing: 0.2px;
  max-width: 174px;
  min-height: 79px;
  color: var(--item-card-text);
  margin-bottom: 21px;
}

.catalog__card__colors {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.catalog__card__color {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__card__color.active {
  border: 3px solid #6e6259;
}

.card__colors__bowl .catalog__card__color:nth-of-type(1) {
  background-color: var(--design-block-mark);
}

.card__colors__bowl .catalog__card__color:nth-of-type(2) {
  background-color: #cdc7b3;
}

.card__colors__bowl .catalog__card__color:nth-of-type(3) {
  background-color: #595752;
}

.card__colors__glass .catalog__card__color:nth-of-type(1) {
  background-color: #ccbd9e;
}

.card__colors__glass .catalog__card__color:nth-of-type(2) {
  background-color: #b55900;
}

.card__colors__glass .catalog__card__color:nth-of-type(3) {
  background-color: #5b653b;
}

.card__colors__glass .catalog__card__color:nth-of-type(4) {
  background-color: #fff;
  border: 1px solid #6e635a4d;
}

.card__colors__plate .catalog__card__color:nth-of-type(1) {
  background-color: var(--design-block-mark);
}

.card__colors__plate .catalog__card__color:nth-of-type(2) {
  background-color: #cdc7b3;
}

.card__colors__plate .catalog__card__color:nth-of-type(3) {
  background-color: #595752;
}

.card__colors__pan .catalog__card__color:nth-of-type(1) {
  background-color: var(--design-block-mark);
}

.card__colors__pan .catalog__card__color:nth-of-type(2) {
  background-color: #748ea1;
}

.card__colors__pan .catalog__card__color:nth-of-type(3) {
  background-color: #b76d47;
}

.card__colors__pan .catalog__card__color:nth-of-type(4) {
  background-color: #7d836e;
}

.card__colors__pan .catalog__card__color:nth-of-type(5) {
  background-color: #c33636;
}

.card__colors__pan .catalog__card__color:nth-of-type(6) {
  background-color: #cdc7b3;
}

.card__colors__pan .catalog__card__color:nth-of-type(7) {
  background-color: #595752;
}

.card__colors__pan .catalog__card__color:nth-of-type(8) {
  background-color: #d3c2ca;
}

.follow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* min-height: 480px; */
}

.follow__part__img {
  width: 100%;
  /* height: 100%; */
  display: block;
}

.follow__part__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  text-align: center;
}

.follow__suptitle {
  font-size: 11px;
  line-height: 1.85;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.follow__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.92;
  letter-spacing: 1px;
  margin: 0 auto 61px;
  max-width: 450px;
}

.follow__btn {
  padding: 19px 41px 23px;
  border-radius: 4px;
  border: 1px solid #aaa0984a;
  background-color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--grey-text);
}
